---
import Section from "../Section.astro";
import { basics } from "@cv";
const { summary } = basics;
---

<Section id="sobremi" title="Sobre mí">
  <div class="content_aboutme">
    <div class="title_aboutme">
      <h1>Practica, esfuerzo y actitud, pueden ayudarte con un bug.</h1>
    </div>
    <div class="summary">
      <p>
        {summary}
      </p>
    </div>
  </div>
</Section>

<style>
  .content_aboutme {
    display: flex;
    justify-content: space-between;
    height: 750px;
    width: 100%;
  }

  div {
    display: flex;
  }

  .title_aboutme {
    align-items: flex-start;
    width: 350px;
  }

  .summary {
    font-family: "Arimo", sans-serif;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    width: 900px;
  }

  h1 {
    font-family: "Arimo", sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    color: #e5e5e5;
    width: 300px;
  }

  p {
    color: #e5e5e5;
    font-size: 1.5rem;
    font-weight: 100;
    text-wrap: pretty;
  }
</style>
