---
import Section from "../Section.astro";
import { basics } from "@cv";
const { summary } = basics;
---

<Section id="sobremi" title="Sobre mí">
    <div class="content_aboutme">
        <div class="title_aboutme">
            <h1>Practica, esfuerzo y actitud, pueden ayudarte con un bug.</h1>
        </div>
        <div class="summary">
            <p>
                {summary}
            </p>
        </div>
    </div>
</Section>

<style>

    .content_aboutme {
        height: 750px;
    }

    div{
        display: flex;
    }

    .title_aboutme {
        align-items: flex-start;
    }

    .summary {
        justify-content: flex-end;
        align-items: flex-end;
        width: 80%;
    }

    h1 {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-size: 2.5rem;
        width: 60%;
    }

    p {
        color: #eee;
        font-size: 1.5rem;
        font-weight: 100;
        margin: 0;
        text-wrap: pretty;
    }
</style>
