---
import Section from "../Section.astro";
import { basics } from "@cv";
const { summary } = basics;
---

<Section id="sobremi" title="Sobre mí">
  <div class="content_aboutme">
    <div class="title_aboutme">
      <h1>Practica, esfuerzo y actitud, pueden ayudarte con un bug.</h1>
    </div>
    <div class="summary">
      <p>
        {summary}
      </p>
    </div>
  </div>
</Section>

<style>
  .content_aboutme {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
    height: auto;

    gap: 2rem;
  }

  .title_aboutme {
    display: flex;
    align-items: flex-start;

    width: 350px;
    flex-shrink: 0;
  }

  .summary {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    text-align: right;

    width: 900px;
    max-width: 100%;
  }

  h1 {
    font-family: "Arimo", sans-serif;
    font-weight: 400;

    font-size: clamp(1.8rem, 3vw, 2.5rem);
    width: 100%;

    color: var(--txt-color);
  }

  p {
    font-family: "Arimo", sans-serif;
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: 100;
    text-wrap: pretty;
    color: var(--txt-color);
  }

  /* 📱 RESPONSIVE */
  @media (max-width: 900px) {
    .content_aboutme {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 2rem;
    }

    .title_aboutme {
      width: 100%;
    }

    .summary {
      width: 100%;
      justify-content: flex-start;
      text-align: left;
      align-items: flex-start;
    }
  }
</style>
