---
import { basics } from "@cv";
import Section from "@/components/Section.astro";
const { name, location } = basics;

const { city, country } = location;
---

<Section>
    <div class="container">
        <div class="info">
            <h1>{name}</h1>
            <span>
                {city}, {country}
            </span>
            
        </div>
        <nav>
            <a href="#proyectos">Proyectos</a>
            <a href="#sobremi">Sobre mi</a>
            <a href="#contactos">Contactos</a>

        </nav>
    </div>
</Section>

<style>
    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }

    h1 {
        margin-top: 1rem;
        font-weight: 100;
        color: #d4dce2;
        font-size: 16px;
        margin-bottom: 0;
    }

    h2 {
        color: #444;
        font-weight: 500;
        font-size: 1.1rem;
        text-wrap: balance;
    }

    span {
        color: #666;
        font-size: 14px;
    }

    nav {
        display: flex;
        gap: 2rem;
    }

    nav a {
        color: #d4dce2;
        text-decoration: none;
        font-size: 0.9rem;
        opacity: 0.8;
        transition: opacity 0.3s ease;
    }

    nav a:hover {
        opacity: 1;
    }
</style>
