---
import Section from "@/components/Section.astro";
import circle from "@/icons/circle.svg?url";
---

<Section id="inicio">
  <div class="container">
    <div id="navbar">
    <div class="sections">
      <a href="#inicio">Inicio</a>
      <a href="#proyectos">Proyectos</a>
      <a href="#sobremi">Sobre mi</a>
    

    <div class="dark_mode">
      <a
        id="toggleTheme"
        ><img src={circle} alt="toggleTheme" /></a
      >
    </div>
    </div>
  </div>
  </div>
</Section>

<style>

  .container {
    display: flex;
    justify-content: center;
  }

  #navbar {
    position: fixed;
    top: 0;
    background: var(--bg-color);
    backdrop-filter: blur(5px);
    border-radius: 0 0 30px 30px;
    transition: top 1s ease,
    border-radius 1s ease,
    box-shadow 1s ease;
  }

  #navbar.scrolled {
    border-radius: 30px;
    transition: border-radius 1s ease,
    top 1s ease;
    top: 15px;
    box-shadow: 0 10px 30px var(--shadow-nav);
  }

  .sections {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 12px 38px 12px 38px;
  }

  a {
    font-family: "Arimo", sans-serif;
    text-decoration: none;
    font-size: 16px;
    color: var(--txt-color);
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  a:hover {
    opacity: 50%;
  }

  img {
    width: 35px;
    height: 35px;
    opacity: 70%;
  }

  img:hover {
    opacity: 50%;
  }

  .dark_mode {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 70px;
    height: 50px;
    border-radius: 100px;
    background-color: var(--bg-toggle-color);
  }
</style>
