---
import { basics } from "@cv";
import Section from "@/components/Section.astro";

const { name, profiles } = basics;
---

<Section>
  <div id="inicio" class="container">
    <h1>Hola soy David, desarrollador de software</h1>
    <div class="section_profiles_description">
      <div class="profiles">
        {
          profiles.map(({ network, url }) => {
            return (
              <a
                href={url}
                title={`Visitar ${network}`}
                target="_blank"
                rel="noopener noreferrer"
              >
                {network}
              </a>
            );
          })
        }
      </div>
      <div class="description">
        <p>
          Desarrollador de software con conocimientos fundamentales y gran
          interés en el desarrollo de aplicaciones y soluciones tecnológicas,
          con capacidad de trabajar en equipo.
        </p>
      </div>
    </div>
  </div>
</Section>

<style>
  .container {
    height: 750px;
    padding-top: 50px;
  }

  .section_user {
    display: flex;
  }

  h1 {
    display: flex;
    font-family: "Noto Serif JP", sans-serif;
    font-weight: 500;
    font-size: 70px;
    width: 70%;
    color: #e5e5e5;
  }

  .profiles {
    display: flex;
    gap: 2rem;
    flex: 1;
    align-items: flex-end;
    width: 40%;
  }

  .profiles a {
    font-family: "Arimo", sans-serif;
    color: #777;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 4px;
    height: 30px;
    width: 80px;
    border-radius: 20px;
    transition: all 0.3s ease;
    text-decoration: none;
  }

  .profiles a:hover {
    background: #15181c;
    color: aliceblue;
  }

  .section_profiles_description {
    display: flex;
    width: 100%;
    height: 270px;
  }

  .description {
    display: flex;
    text-align: right;
    flex-direction: column;
    justify-content: flex-end;
    width: 60%;
  }
  p {
    margin: 0;
    font-size: 1.5rem;
    font-family: "Arimo", sans-serif;
    color: #e5e5e5;
  }
</style>
