---
import Section from "../Section.astro";

import { skills } from "@cv";
---

<Section title="Habilidades">
  <div class="container">
    <div class="carousel">
    <ul id="skills-list" class="group">
      {
        skills.map(({ name, img }) => (
          <li>
            <img src={img} alt={name} />
          </li>
        ))
      }
    </ul>
    <ul id="skills-list" class="group">
      {
        skills.map(({ name, img }) => (
          <li>
            <img src={img} alt={name} />
          </li>
        ))
      }
    </ul>
  </div>
  </div>
</Section>

<style>

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li {
    height: 90px;
    width: 90px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .carousel {
    height: 120px;
    width: 100%;
    display: flex;
    overflow-x: auto;
    z-index: -1;
    gap: .5em;
    -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 15%,
    black 85%,
    transparent
  );
  mask-image: linear-gradient(
    to right,
    transparent,
    black 15%,
    black 85%,
    transparent
  );
  }

  .group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4em;
    animation: spin 15s infinite linear;
    padding-right: 1em;
  }

  .carousel::-webkit-scrollbar {
    display: none;
  }

  img {
    width: 70px;
    height: 70px;
  }

  @keyframes spin {
    from {
      translate: 0;
    }
    to {
      translate: -100%;
    }
  }

  ul {
    list-style-type: none;
  }
</style>
