---
import Section from "../Section.astro"

import { skills } from "@cv"
---


<Section title="Habilidades"> 
<ul>
    {
        skills.map(({name, color}) => (
            <li style={`--bg-color: ${color}`}>
                <span>{name}</span>
            </li>
        ))
    }
</ul>

</Section>

<style>

    ul {
        list-style-type: none;
        display: inline-flex;
        gap: 10px;
        flex-wrap: wrap;
        padding: 0px;
        justify-content: center;
    }

    li {
        border-radius: 6px;
        background: #eee;
        color: black;
        font-size: 0.8rem;
        font-weight: 500;
        padding: 0.2rem 0.6rem;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    li:hover {
        background-color: color-mix(in srgb, var(--bg-color) 100%, black) ;
        color: white;
        cursor: pointer;
    }

</style>