---
import Section from "../Section.astro";

import { skills } from "@cv";

const doubleSkills = [...skills, ...skills];
---

<Section title="Habilidades">
  <div class="container">
    <div class="carousel">
      <ul class="group">
        {
          doubleSkills.map(({ name, img }) => (
            <li>
              <img src={img} alt={name} />
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</Section>

<style>
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li {
    flex: 0 0 auto;
    height: 80px;
    width: 80px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .carousel {
    height: 120px;
    width: 100%;
    display: flex;
    overflow: hidden;
    z-index: -1;
    -webkit-mask-image: linear-gradient(
      to right,
      transparent,
      black 15%,
      black 85%,
      transparent
    );
    mask-image: linear-gradient(
      to right,
      transparent,
      black 15%,
      black 85%,
      transparent
    );
  }

  .group {
    display: flex;
    align-items: center;
    gap: 4em;
    animation: scroll 18s infinite linear;
    width: max-content;
  }

  .carousel::-webkit-scrollbar {
    display: none;
  }

  img {
    width: 60px;
    height: 60px;
    object-fit: contain;
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translatex(-50%);
    }
  }

  @media (max-width: 768px) {
    .carousel {
      height: 100px;
    }

    .group {
      gap: 2.5rem;
    }

    li {
      width: 65px;
      height: 65px;
    }

    img {
      width: 45px;
      height: 45px;
    }
  }

  @media (max-width: 480px) {
    .group {
      gap: 2rem;
    }

    li {
      width: 55px;
      height: 55px;
    }

    img {
      width: 38px;
      height: 38px;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
</style>
