---
import Layout from "@/layouts/Layout.astro";
import About from "@/components/sections/About.astro";
import Header from "@/components/sections/Header.astro";
import Skills from "@/components/sections/Skills.astro";
import Projects from "@/components/sections/Projects.astro";
import Presentation from "@/components/sections/Presentation.astro";
---

<Layout>
  <main>
    <div class="container">
      <Header />
      <Presentation />
      <Projects />
      <About />
      <Skills />
    </div>
  </main>
</Layout>

<style>

  .container {
    max-width: 1250px;
    max-height: 100%;
  }
</style>
