---
const { title, id } = Astro.props;
---

<section id={id}>
    {title && <h2>{title}</h2>}
    <slot />
</section>

<style>
    h2 {
        font-family: "Arimo", sans-serif;
        font-weight: 400;
        color: #E5E5E5;
    }
    
    
    
</style>
