---
const { title, id } = Astro.props;
---

<section id={id}>
    {title && <h2>{title}</h2>}
    <slot />
</section>

<style>

    h1,
    h2,
    p {
        font-family: "Arimo", sans-serif;
        font-weight: 400;
        color: var(--txt-color);
    }
    
</style>
