<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Portafolio Personal</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Noto+Serif+JP:wght@200..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />
  </body>

  <style>
    [data-theme="light"] {
      --bg-color: #fbfbfb;
      --bg-color-blur: #96969633;
      --bg-a-color: #f0f0f0d3;
      --bg-toggle-color: #aaaaaac6;
      --bg-target-color: #f9f9f9;
      --border-color: #d1d1d1;
      --txt-color: #000000;
      --shadow-color: #444444;
      --shadow-nav: #00000026;
    }

    [data-theme="dark"] {
      --bg-color: #0f1114;
      --bg-color-blur: #333333cc;
      --bg-a-color: #1e1e1ed5;
      --bg-toggle-color: #82828280;
      --bg-target-color: #181818c0;
      --border-color: #2c2c2c;
      --txt-color: #e5e5e5;
      --shadow-color: #969696;
      --shadow-nav: #ffffff26;
    }

    body {
      background:
        radial-gradient(
          circle at 30% 30%,
          var(--bg-color-blur),
          transparent 40%
        ),
        radial-gradient(
          circle at 70% 70%,
          var(--bg-color-blur),
          transparent 60%
        ),
        var(--bg-color);
      transition:
        background-color 0.3s,
        color 0.3s;
      display: flex;
      justify-content: center;
      align-items: center;
      scroll-behavior: smooth;
    }

    html {
      scroll-behavior: smooth;
    }

    figure {
      margin: 0;
      padding: 0;
    }

    a {
      text-decoration: none;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }
  </style>

  <script>
    const root = document.documentElement;
    const saved = localStorage.getItem("theme");

    if (saved) {
      root.dataset.theme = saved;
    } else {
      const prefersDark = window.matchMedia(
        "(prefers-color-scheme: dark)",
      ).matches;
      root.dataset.theme = prefersDark ? "dark" : "light";
    }

    const toggle = document.getElementById("toggleTheme");
    toggle?.addEventListener("click", () => {
      const next = root.dataset.theme === "dark" ? "light" : "dark";
      root.dataset.theme = next;
      localStorage.setItem("theme", next);
    });

    const navbar1 = document.getElementById("navbar");
    window.addEventListener("scroll", () => {
      if (window.scrollY > 50) {
        navbar1?.classList.add("scrolled");
      } else {
        navbar1?.classList.remove("scrolled");
      }
    });
  </script>
</html>
